/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Create reusable variables */
$main__color: #028A3D;
$second__color: #EC880C;
$third__color: #0880D6;
$main__padding: 5%;
$margin: 10% 0;
$white-color: #FFFFFF;
$button__font-size: 1em;
$answer__border: .1em solid #C4C4C4;
$rounded__border: 50%;
$middle__width: 50%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    @extend .centereditems;
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    background-blend-mode: darken;
    font-family: "Inter", "Sans-serif";
    padding: $main__padding;
}


// Rules for centerlize items
.centereditems {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 
.allLinks {
    text-decoration: none;
}

// Main container 
.container {
    @extend .centereditems;
    flex-direction: column;
    width: 45%;
    background: #fff;
    height: auto;
    padding: 5%;

}

// Home page
#home__page {
    @extend .centereditems;
    @extend .container;
    flex-direction: column;
}

h1 {
    margin: 0 0 $margin;
}

p {
    text-align: center;
}


// Home page form
form {
    width: 100%;

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 2% $main__padding;
        margin: 2% 0;
    }
}

.errorMessage {
    color: red;
    font-size: .8em;
}


.startButton {
    padding: 1em 10%;
    background: $main__color;
    border: none;
    color: $white-color;
    font-size: $button__font-size;

    &:hover {
        @extend .elementHover;
    }
}

// User name
.username__container {
    margin: $margin;
}

// User mail
.usermail__container {
    margin: $margin 0 0;
}

// Start button
.startbutton__container {
    @extend .centereditems;
    margin: 5% 0 0;
}

/* Question page */
#quiz__page {
    @extend #home__page;
    display: none;
}

#quiz__page.show {
    @extend #home__page;
    padding: 0 5%;

    .question-title {
        margin: 10% 0 0;
    }
}



// QUestion status
.questionstatus__container {
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0;
}

.progressbar__container {
    width: 100%;
    background: #DDDDDD;
    border-radius: 1em;
    margin: 1em 0;
}

.progressbar {
    height: .6em;
    width: 100%;
    background: $main__color;
    border-radius: 1em;
    transition: width 1s ease-in;
}

// Question form 
.question-form {
    padding: 0;
}

// Answer suggested
.answer__container {
    display: flex;
    position: relative;

    label,
    input[type="radio"] {
        margin: 0 2%;

        &:hover {
            @extend .elementHover;
        }
    }

    label {
        width: 100%;
        border: $answer__border;
        padding: 2% 10%;
        margin: 1em 0;
    }

    input[type="radio"] {
        position: absolute;
        align-self: center;
        justify-self: center;
        appearance: none;
        width: 1.2em;
        height: 1.2em;
        border-radius: $rounded__border;
        border: $answer__border;
    }

    input[type="radio"]:checked {
        background-color: $main__color;
        border: .1em solid $main__color;
    }

    input[type="radio"]:checked~label {
        border: .1em solid $main__color;
    }
}

// Button box-shadow;
input[type="button"],
input[type="submit"],
button {
    box-shadow: 0px 4px 2px 1px #C4C4C4;
}

.elementHover {
    cursor: pointer;
}

.buttonContainer {
    @extend .status;
    margin: 5% 0 10%;
}

// Next question button
.nextButton {
    @extend .startButton;
    width: $middle__width;
    margin: 0 0 0 5%;
    padding: .8em 10%;

    &:disabled {
        background: rgba(2, 138, 61, 0.42);
    }

    &:hover {
        @extend .elementHover;
    }
}

.exitButton {
    @extend .startButton;
    background: #EC880C;
    padding: .8em 10%;
    width: $middle__width;

    &:hover {
        @extend .elementHover;
    }
}


/* Score page */
#score__page {
    @extend #home__page;
    display: none;
}

.lni {
    font-weight: 900 !important;
    font-size: 7em !important;
}

.success {
    color: #028A3D;

}

.failed {
    color: #FF3838;
}

.backToHome {
    @extend .startButton;
    background: $third__color;
}

.username,
.usermail,
.icon__container,
.userscore__container {
    margin: 5% 0;
}


@media screen and (max-width: 1024px) and (min-width:978px) {
    #home__page {
        width: 60%;
    }


}

@media screen and (max-width: 977px) and (min-width: 769px) {
    #home__page {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    #home__page {
        width: 100% !important;
        margin: 0;
    }

    h1 {
        margin: $margin;
        font-size: 1.4em;
    }

    p {
        font-size: .8em;
    }

    input[type="radio"] {
        width: 1em !important;
        height: 1em !important;
    }

    label {
        font-size: .8em;
    }

    .startButton {
        padding: .6em 5%;
        margin: 5% 0 10%;
    }

    .backToHome {
        @extend .startButton;
    }

    .nextButton {
        margin-left: 5%;
    }

    .nextButton,
    .exitButton {
        @extend .startButton;
    }
}