/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Create reusable variables */
$padding: 5%;
$margin: 10% 0;
$submit__button__bg: #028A3D;
$white-color: #fff;
$button__font-size: 1em;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    @extend .centereditems;
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    background-blend-mode: darken;
    font-family: "Inter", "Sans-serif";
}

.centereditems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allLinks {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background: #fff;
    height: auto;
    padding: 5%;
}

h1 {
    justify-self: flex-start;
    margin: 0 0 $margin;
}

p {
    text-align: center;
}

form {
    width: 100%;

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 2% $padding;
        margin: 2% 0;
    }


}

.startButton {
    padding: 1em 10%;
    background: $submit__button__bg;
    border: none;
    color: $white-color;
    font-size: $button__font-size;

    &:hover {
        @extend .elementHover;
    }
}

.username__container {
    margin: $margin;
}

.usermail__container {
    margin: $margin 0 0;
}

.startbutton__container {
    @extend .centereditems;
    margin: 5% 0 0;
}

/* Success page */
.backToHome {
    @extend .startButton;
    @extend .allLinks;
    background-color: #0880D6;
    margin: 5% 0;
}

.username__response,
.usermail__response {
    margin: 5% 0;
}

.icon__container {

    font-size: 8em;
    margin: 5% 0;
}

.success {
    color: #028A3D;

}

.failed {
    color: #FF3838;
}

/* Question page */
.questionstatus__container {
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.progressbar__container {
    width: 100%;
    background: #DDDDDD;
    border-radius: 1em;
    margin: 5% 0;
}

.progressbar {
    height: .6em;
    width: 100%;
    background: $submit__button__bg;
    border-radius: 1em;
    transition: width .8s ease-in;
    // animation: progress 100s;
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.answer__container {
    width: 100%;
    border: .1em solid #c4c4c4;
    padding: 3% $padding;
    margin: 10% 0;
    display: flex;

    label,
    input {

        margin: 0 2%;

        // border: .1em solid $submit__button__bg;
        &:hover {
            @extend .elementHover;
        }
    }
}

.elementHover {
    cursor: pointer;
}

input[type="radio"] {
    border: .1em solid $submit__button__bg;
}

.clicked {
    border: .1em solid $submit__button__bg;
}

.buttonContainer {
    @extend .status;
    margin: 10% 0;
}

.nextButton {
    @extend .startButton;
    width: 50%;
    margin: 0 0 0 5%;

    &:disabled {
        background: rgba(2, 138, 61, 0.42);
    }

    &:hover {
        @extend .elementHover;
    }
}


.exitButton {
    @extend .startButton;
    background: #EC880C;
    width: 50%;

    &:hover {
        @extend .elementHover;
    }
}

/* Change content*/
#home {
    @extend .centereditems;
    flex-direction: column;
}

#quiz__box {
    @extend #home;
    display: none;
    // opacity: 0;
}

#quiz__box.show {
    @extend #home;
    width: 100%;
    // animation: fadeOut .3s;
    // opacity: 1;
    // transition: all .3s ease;
}

/* Score board */
#score__board {
    @extend #home;
    display: none;
    // opacity: 0;
}

// Animation 
@keyframes fadeOut {
    from {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) and (min-width:978px) {
    .container {
        width: 60%;
    }
}