/* Import font-family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Create reusable variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
  background-blend-mode: darken;
  font-family: "Inter", "Sans-serif";
  padding: 5%;
}

.centereditems, #home, #score__board, #quiz__box.show, #quiz__box, .startbutton__container, html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allLinks, .backToHome {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  background: #fff;
  height: auto;
  padding: 5%;
}

h1 {
  justify-self: flex-start;
  margin: 0 0 10% 0;
}

p {
  text-align: center;
}

form {
  width: 100%;
}
form input[type=text],
form input[type=email] {
  width: 100%;
  padding: 2% 5%;
  margin: 2% 0;
}

.startButton, .exitButton, .nextButton, .backToHome {
  padding: 1em 10%;
  background: #028A3D;
  border: none;
  color: #fff;
  font-size: 1em;
}
.username__container {
  margin: 10% 0;
}

.usermail__container {
  margin: 10% 0 0 0;
}

.startbutton__container {
  margin: 5% 0 0;
}

/* Success page */
.backToHome {
  background-color: #0880D6;
  margin: 5% 0;
}

.username__response,
.usermail__response {
  margin: 5% 0;
}

.icon__container {
  font-size: 8em;
  margin: 5% 0;
}

.lnr {
  font-weight: 900 !important;
}

.success {
  color: #028A3D;
}

.failed {
  color: #FF3838;
}

/* Question page */
.questionstatus__container {
  width: 100%;
}

.status, .buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.progressbar__container {
  width: 100%;
  background: #DDDDDD;
  border-radius: 1em;
  margin: 5% 0;
}

.progressbar {
  height: 0.6em;
  width: 100%;
  background: #028A3D;
  border-radius: 1em;
  transition: width 0.8s ease-in;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.answer__container {
  width: 100%;
  border: 0.1em solid #c4c4c4;
  padding: 3% 5%;
  margin: 10% 0;
  display: flex;
}
.answer__container label,
.answer__container input {
  margin: 0 2%;
  border-radius: 0;
}
input[type=button],
input[type=submit],
button {
  box-shadow: 0px 4px 2px 1px #C4C4C4;
}

.elementHover, .startButton:hover, .exitButton:hover, .nextButton:hover, .backToHome:hover, .answer__container label:hover,
.answer__container input:hover {
  cursor: pointer;
}

input[type=radio] {
  border: 0.1em solid #028A3D;
}

.clicked {
  border: 0.1em solid #028A3D;
}

.buttonContainer {
  margin: 10% 0;
}

.nextButton {
  width: 50%;
  margin: 0 0 0 5%;
}
.nextButton:disabled {
  background: rgba(2, 138, 61, 0.42);
}
.exitButton {
  background: #EC880C;
  width: 50%;
}
/* Change content*/
#home, #score__board, #quiz__box.show, #quiz__box {
  flex-direction: column;
  height: 100%;
  width: 90%;
}

#quiz__box {
  display: none;
  height: 100%;
  width: 90%;
}

#quiz__box.show {
  width: 100%;
}

/* Score board */
#score__board {
  display: none;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) and (min-width: 978px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 5% 5% !important;
  }
}

/*# sourceMappingURL=style.css.map */
